<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Three plus product page</title>
</head>
<body>
    <h1> Thank you for contacting us</h1>
    <h2> {{name}} has contacted us regarding product with product id: {{Productid}}😊</h2> 
    <ul>
        <li>
            <a>Customer wants to Enquire about:{{subject}}</a>
        </li>
        <li>
            <a>Customers message:<br>{{message}}</a>
        </li>
        <li>
            <a>from : {{email}}</a>
        </li>
    </ul>

    <img class="image-dashboard" src="/images/undraw_web_shopping_dd4l.svg" alt="Work email"> 
    <p>🎊 Thank you  for joining us! 🎊</p>
</body>
</html>